body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a031ede;
    color: rgb(250, 250, 250);
}

.hero {
    background-color: #7a858426;
    color: rgb(255, 255, 255);
    padding: 60px 20px;
    text-align: center;
    background-image: url('banner1.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
}

.text-overlay {
  position: absolute;
  top: 28%;          /* move text down */
  left: 25%;         /* move text right */
  transform: translate(-50%, -50%); /* center it */
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 10px;
}

.skills-list li {
    background-color: #e0e0e0;
    padding: 8px 15px;
    border-radius: 5px;
}

.projects-container {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.project-card {
  background: rgb(0, 0, 0);
  border: 1px solid #e4dcdc;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  margin-top: 10px;
}

a {
    color: #1e40af; /* default link color */
    text-decoration: none; /* removes underline (optional) */
  }

footer {
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
